*{margin: 0; padding: 0;}
body{
	background: url("images/background.jpg") repeat scroll 0 0 / 60% auto transparent;
	h1, h2, h3, h4, h5, h6 {font-weight:normal;margin-bottom:15px}
}
.main {width:960px;margin:0 auto;display:block}
.logo{position: absolute; overflow:hidden;
	 height: 90px; width: auto;
	 top: 30px; left: 490px;
	 }

.logo img{height: 80%; width: auto;
}

.menu{
	background-color: #EEEEEE;
	border-radius: 3px;
	height: 50px;
	left: 242px;
	position: absolute;
	top: 125px;
	width: 850px;;
} 
.menu ul{margin:5px; padding:5px 5px 5px 30px; list-style:none; text-shadow:0px 2px 10px #000;}
.menu ul li{float:left;margin-right:10px;}
.menu ul li a{padding:5px 10px;font-weight:bold;text-transform:uppercase;color:#046197;text-decoration: none; }
.menu ul li a:hover {color:orange;}

.content{
	background-color: #EEEEEE;
	border-radius: 3px 3px 3px 3px;
	height: auto;
	margin-bottom: 30px;
	margin-left: 243px;
	margin-top: 200px;
	padding: 20px;
	width: 812px;
	}
.footer{
	height: 260px;
	margin-left: 175px;
	margin-top: 5px;
	position: absolute;
	width: 975px;
	}
.fixed{

	border: 1px solid black;
	background-color: #fff;
	position: absolute;
	height: 220px;
	width: 250px;
	margin-top: 40%;
	overflow: hidden;

	}

.widget1{margin-left: 65px; margin-top: 10px;}
.widget1 img{padding:10px;}
.widget2{margin-left:365px; margin-top: 10px;}
.widget2 img{padding:10px;}
.widget3{margin-left:670px;margin-top: 10px;}
.widget3 img{padding:10px;}
.copyright{background-color: #B9DDF3;
	color:#C7692B;
	height: 30px;
	margin-left: 63px;
	margin-top: 25px;
	padding: 3px;
	position: absolute;
	text-align: center;
	top: 96%;
	width: 88%;}